apiVersion: apps/v1
kind: Deployment
metadata:
  name: dropbox-clone-api
  namespace: dropbox-clone
spec:
  replicas: 3
  template:
    spec:
      containers:
        - name: api
          resources:
            requests:
              cpu: 200m
              memory: 256Mi
            limits:
              cpu: 1000m
              memory: 1Gi
