apiVersion: apps/v1
kind: Deployment
metadata:
  name: dropbox-clone-api
  namespace: dropbox-clone
spec:
  replicas: 1
  template:
    spec:
      securityContext:
        runAsNonRoot: false
        runAsUser: 0
      containers:
        - name: api
          securityContext:
            readOnlyRootFilesystem: false
            allowPrivilegeEscalation: false
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 200m
              memory: 256Mi
